@font-face {
    font-family: 'Metropolis';
    src: url('font-metropolis.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('font-lato.woff2');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: #0d61ab;
    height: 100%;
    width: 100%;
}

.brand {
    font-size: 8em;
    font-family: Metropolis, sans-serif;
    color: #e6f2ff;
    text-align: center;
    padding-top: 10px;
}

.brand span {
    color: #639bcc;
}

main {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #334;
    background-color: #fff;
    border-radius: 1px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

#search {
    font-family: Lato, sans-serif;
    font-size: 2.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(51, 51, 68, 0.3);
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#search:focus {
    outline: none;
}

#results {
    font-family: Lato, sans-serif;
    font-size: 1.1em;
    color: #080820;
}

.result {
    padding: 1px 3px;
    border-bottom: 1px dashed rgba(51, 51, 68, 0.2);
}

.result:last-child {
    border-bottom: none;
}

.result:hover {
    background-color: #f8f8fb;
}

.result .secwepemc {
    font-size: 1.3em;
    font-style: italic;
}

.result .secwepemc:after {
    content: ":"
}

.result .english {
    color: #1a1a36;
    margin-left: 3%;
    font-size: 1.1em;
}